//====================================================================================================
.footer {
   padding: 20px 0px 30px 0px;
   margin: 0px 10px 0px 10px;

   &__container {
      max-width: 1220px;
      margin: 0 auto;
   }

   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
   }

   &__link {
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 74, 50, 1);
   }

   &__items {
      display: flex;
   }

   &__item {
      margin: 0px 6px 0px 0px;

      &:last-child {
         margin: 0px 0px 0px 0px;
      }
   }
}

//====================================================================================================