//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1440;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";

body {
	color: rgba(0, 0, 0, 1);
	font-size: 14px;

	&.lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;

	&.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
/*.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;

	@media (max-width: $md1+px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}*/

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<MAINBLOCK>====================================================================================================

.mainblock {
	position: relative;
	max-width: 100%;
	height: 100vh;

	&__container {}

	&__background {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;

		img {
			width: 100%;
			height: 100vh;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 5;
		padding: 53px 10px 0px 10px;
	}

	&__title {
		font-size: 44px;
		line-height: 51px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(0, 0, 0, 1);
		padding: 0px 0px 14px 0px;
	}

	&__text {
		padding: 0px 0px 22px 0px;
	}

	&__buttons {
		display: flex;

		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}

	&__button {
		@media (max-width: $md4+px) {
			margin: 0px 0px 10px 0px;
		}
	}
}

//</MAINBLOCK>====================================================================================================
//<SPONSORS>====================================================================================================

.spnsrs {
	background-color: rgba(0, 0, 0, 1);
	padding: 20px 0px 20px 0px;

	&__container {
		max-width: 1070px;
		margin: 0 auto;
	}

	&__content {
		max-width: 1070px;
		margin: 0px 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: $md3+px) {
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		@media (max-width: 400px) {
			display: block;
			text-align: center;
		}
	}

	&__logo {
		padding: 0px 0px 0px 0px;

		&:last-child {
			padding: 0px 0px 0px 0px;
		}

		@media (max-width: $md3+px) {
			padding: 0px 10px 20px 0px;

			&:last-child {
				padding: 0px 0px 20px 0px;
			}
		}

		@media (max-width: 555px) {
			padding: 0px 20px 20px 0px;

			&:nth-child(2) {
				padding: 0px 0px 20px 0px;

				@media (max-width: 400px) {
					margin: 0px 0px 30px 0px;
					padding: 0px 0px 0px 0px;
				}
			}

			&:nth-child(3) {
				margin: 0px 40px 0px 0px;

				@media (max-width: 400px) {
					margin: 0px 0px 30px 0px;
				}
			}
		}

		@media (max-width: 400px) {
			padding: 0px 0px 0px 0px;
			margin: 0px 0px 30px 0px;

			&:last-child {
				padding: 0px 0px 0px 0px;
			}
		}

		image {
			width: 100%;
		}
	}
}

//</SPONSORS>====================================================================================================
//<SHOP>====================================================================================================

.shop {

	&__container {
		max-width: 1190px;
		margin: 0 auto;
	}

	&__body {
		width: 100%;
		margin: 52px 0px 20px 0px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0px 10px 45px 10px;
		position: relative;
	}

	&__title {
		max-width: 685px;
		font-size: 32px;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(0, 0, 0, 1);
		margin: 0px 0px 17px 0px;
	}

	&__text {
		max-width: 685px;
		letter-spacing: 0em;
		margin: 0px 0px 25px 0px;
	}

	&__columns {
		display: flex;
		justify-content: space-between;
		margin: 0px 5px;

		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}

	&__column {
		margin: 0px 20px 0px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}
}

.column-shop {
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
	}

	&__background {
		overflow: hidden;

		img {
			transition: all 0.3s ease 0s;
			width: 100%;
		}
	}

	&__icon {
		margin: 0px 0px 11px 0px;
	}

	&__title {
		margin: 0px 0px 15px 0px;
	}

	&__subtitle {}
}

//</SHOP>====================================================================================================
//<ELECTRIC>====================================================================================================

.electric {
	position: relative;
	max-width: 100%;
	height: 100vh;

	&__container {}

	&__body {}

	&__background {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;

		img {
			width: 100%;
			height: 100vh;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__content {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 44px 5px 0px 5px;
	}

	&__subtitle {
		margin: 0px 0px 11px 0px;
	}

	&__title {
		max-width: 490px;
		font-size: 45px;
		font-weight: 700;
		line-height: 51px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(0, 0, 0, 1);
		margin: 0px 0px 15px 0px;
	}

	&__text {
		max-width: 490px;
		margin: 0px 0px 20px 0px;
	}

	&__button {
		padding: 5px 66px;
	}
}

//</ELECTRIC>====================================================================================================
//<BOOSTEDREV>====================================================================================================

.boostedrev {

	&__container {
		max-width: 1210px;
		margin: 0 auto;
	}

	&__content {
		padding: 44px 0px 45px 0px;
		margin: 0px 10px 0px 10px;
	}

	&__columns {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: $md2+px) {
			flex-direction: column-reverse;
		}
	}

	&__column {
		margin: 0px 40px 0px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}

		@media (max-width: $md2+px) {
			margin: 40px 0px 0px 0px;
		}
	}
}

.column-boostedrev {

	&__image {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;

		img {
			width: 100%;
		}

		@media (max-width: 600px) {
			width: 100%;
			flex-direction: column;
		}
	}

	&__content {
		max-width: 340px;

		@media (max-width: $md2+px) {
			max-width: 740px;
		}
	}

	&__title {
		font-size: 32px;
		line-height: 38px;
		letter-spacing: 0em;
		text-align: left;
		margin: 0px 0px 21px 0px;
	}

	&__text {
		font-size: 15px;
		line-height: 23px;
		letter-spacing: 0em;
		text-align: left;
		margin: 0px 0px 18px 0px;
	}

	&__button {
		padding: 5px 16px;
	}
}

//</BOOSTEDREV>====================================================================================================
//<OTHERSHOP>====================================================================================================

.othershop {
	margin: 0px 0px 55px 0px;

	&__columns {
		display: flex;

		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 0 1 33.3333%;
	}
}

.column-othershop {
	position: relative;
	display: block;
	height: 100%;

	&__background {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		z-index: -1;
		overflow: hidden;

		img {
			transition: all 0.3s ease 0s;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 480px;
		z-index: 5;
	}

	&__title {
		z-index: 2;
	}

	&__subtitle {
		z-index: 2;
	}
}

.content-othershop:hover {
	color: rgba(255, 255, 255, 1);
}

//</OTHERSHOP>====================================================================================================
//<VIDEO>====================================================================================================

.videoblock {
	margin: 0px 0px 64px 0px;

	&__container {
		max-width: 1110px;
		margin: 0 auto;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px 5px;

		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}

	&__item1,
	&__item2 {
		width: 100%;
		height: 304px;
		margin: 0px 20px 0px 0px;

		@media (max-width: $md2+px) {
			margin: 0px 0px 20px 0px;
		}

		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}

	.video1,
	.video2 {
		width: 100%;
		height: 304px;
	}

}

//</VIDEO>====================================================================================================
//<ACCESSORIES>====================================================================================================

.accessories {
	margin: 0px 0px 10px 0px;

	&__container {
		max-width: 1450px;
		margin: 0 auto;
	}

	&__content {
		margin: 0px 5px;
	}

	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 0;
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px 0px 42px 0px;
	}

	&__title {
		font-size: 32px;
		font-weight: 700;
		line-height: 36px;
		text-align: center;
		color: rgba(0, 0, 0, 1);
		margin: 0px 0px 21px 0px;
	}

	&__item {
		display: flex;
		width: 186px;
		transition: all 0.3s ease 0s;

		&:hover {
			transform: scale(1.03);
			overflow: hidden;
		}
	}
}

.item-accessories {

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		flex: 1 1 auto;
	}

	&__image {}

	&__name {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(255, 74, 50, 1);
		margin: 0px 0px 3px 0px;
	}

	&__prices {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__price {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: center;
		line-height: 18px;
		letter-spacing: 0em;
		color: rgba(55, 55, 55, 1);
		margin: 0px 4px 0px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}

	&__status {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(0, 0, 0, 0.3);
	}
}

.red-price {
	color: rgba(255, 33, 33, 1);
}

.slider {
	position: relative;
}

.slick-list {
	overflow: hidden;
}

.slick-slide {
	width: 186px;
}

.slick-track {
	display: flex;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 44px;
	height: 44px;
	transition: all 0.3s ease 0s;

	&:hover {
		transform: scale(1.1);
		overflow: hidden;
	}
}

button.slick-prev.slick-arrow {
	left: 0;
	background: url('../img/Accessories/Arrow_left.png') 0 0 / 100% no-repeat;
}

button.slick-next.slick-arrow {
	right: 0;
	background: url('../img/Accessories/Arrow_right.png') 0 0 / 100% no-repeat;
}

//</ACCESSORIES>====================================================================================================
//<SHADOWBLOCK>====================================================================================================

.shadowblock {
	margin: 0px 0px 28px 0px;
	height: 66px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 2px 0px 10px 0px rgba(41, 44, 61, 0.34);
}

//</SHADOWBLOCK>====================================================================================================
//<ADVANTAGES>====================================================================================================

.advantages {
	background-color: rgba(0, 0, 0, 1);

	&__container {
		max-width: 1320px;
		margin: 0 auto;
	}
}

.advantage {

	&__content {
		padding: 35px 0px 50px 0px;
	}

	&__items {
		display: flex;
		justify-content: space-between;

		@media (max-width: $md3+px) {
			display: block;
		}
	}

	&__item {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px 10px;

		@media (max-width: $md3+px) {
			margin: 0px 0px 25px 0px;
		}

	}
}

.item-advantage {

	&__icon {
		display: inline-flex;

		img {
			width: 87px;
			height: 87px;
		}

		margin: 0px 0px 5px 0px;
	}

	&__content {
		max-width: 280px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		font-size: 31px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		margin: 0px 0px 25px 0px;
	}

	&__text {
		font-size: 15px;
		line-height: 23px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(255, 255, 255, 1);
	}
}

//</ADVANTAGES>====================================================================================================
//<ABOUT>====================================================================================================

.about {
	padding: 50px 0px;
	background-color: rgba(247, 247, 247, 1);

	&__container {
		max-width: 1220px;
		margin: 0 auto;
	}

	&__logo {
		@media (max-width: $md3+px) {
			width: 100%;
			text-align: center;
			margin: 0px 0px 40px 0px;
		}
	}

	&__columns {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0px 10px;

		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}

	&__column {
		flex: 0 1 33.3333%;
	}
}

.column-about {
	margin: 0px 0px 40px 0px;

	@media (max-width: $md3+px) {
		width: 100%;
	}

	&__content {}

	&__title {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;
		margin: 0px 0px 10px 0px;

		@media (max-width: $md3+px) {
			text-align: center;
			font-size: 35px;
			margin: 0px 0px 50px 0px;
		}
	}

	&__menu {
		display: inline-block;
	}

	&__link {
		position: relative;
		font-size: 13px;
		line-height: 21px;
		letter-spacing: 0em;
		text-align: left;

		@media (max-width: $md3+px) {
			font-size: 22px;
		}

		a {
			position: relative;
			display: inline-block;
			color: rgba(0, 0, 0, 1);

			&:before {
				content: "";
				position: absolute;
				width: 0%;
				height: 1px;
				background-color: rgba(0, 0, 0, 0);
				bottom: 0px;
				right: 50%;
			}

			&:hover:before {
				transition: all 0.5s ease 0s;
				width: 100%;
				bottom: 0px;
				right: 0;
				background-color: rgba(0, 0, 0, 1);
			}
		}
	}
}

@media (max-width: $md3+px) {
	.column-about__menu li {
		margin: 0px 0px 15px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
}

.about-column {

	@media (max-width: $md3+px) {
		width: 100%;
	}

	&__content {
		max-width: 368px;

		@media (max-width: $md3+px) {
			max-width: 100%;
		}
	}

	&__title {
		font-size: 19px;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;
		margin: 0px 0px 12px 0px;

		@media (max-width: $md3+px) {
			font-size: 35px;
			line-height: 45px;
			text-align: center;
			margin: 0px 0px 30px 0px;
		}
	}

	&__text {
		line-height: 21px;
		letter-spacing: 0em;
		text-align: left;
		margin: 0px 0px 20px 0px;

		@media (max-width: $md3+px) {
			font-size: 22px;
			line-height: 30px;
			margin: 0px 0px 40px 0px;
		}
	}

	&__address {
		font-size: 13px;
		line-height: 21px;
		letter-spacing: 0em;
		text-align: left;

		@media (max-width: $md3+px) {
			font-size: 21px;
			line-height: 25px;
		}
	}
}

//</ABOUT>====================================================================================================