//<ОСНОВНОЙ БЛОК>====================================================================================================

.text-style {
	font-size: 15px;
	line-height: 18.75px;
	letter-spacing: 1px;
	text-align: center;
	color: rgba(0, 0, 0, 1);
}

.button-style {
	position: relative;
	display: inline-block;
	font-size: 15px;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	padding: 5px 47px;
	background-color: rgba(255, 74, 50, 1);
	border-radius: 35px;
	margin: 0px 12px 0px 0px;
	overflow: hidden;
	z-index: 5;
	transition: all 0.2s ease-in-out 0s;

	&:last-child {
		margin: 0px 0px 0px 0px;
	}

	&:before {
		content: '';
		background: linear-gradient(90deg, rgba(255, 166, 154, 1), rgba(255, 74, 50, 1));
		height: 33px;
		width: 30px;
		position: absolute;
		top: 0px;
		left: -50%;
		transform: skewX(-45deg);
	}

	&:hover {
		transform: scale(1.03);
	}

	&:hover:before {
		left: 110%;
		transition: 0.5s ease-in-out 0s;
	}


}

.shoptitle-style {
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}

.shopsubtitle-style {
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}

@media (max-width: 767.98px) {
	.background-fix {
		padding: 0px 0px 90% 0px;
	}
}

.shop-link {
	position: relative;

	&:after {
		content: '';
		transition: all 0.3s ease 0s;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(255, 74, 50, 0.2);
		opacity: 0;
		visibility: hidden;
	}

	&:hover {
		img {
			transform: scale(1.05);
		}
	}

	&:hover:after {
		opacity: 1;
		visibility: visible;
	}
}

.line {
	background-color: rgba(207, 207, 207, 1);
	width: 70px;
	height: 2px;
}

.bottomfirstelanim {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 1s ease 0s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.bottomsecondelanim {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 1s ease 0.4s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

span.line.bottomsecondelanim {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 1s ease 0.8s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.electric__text.bottomsecondelanim {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 1s ease 0.6s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.electric__button.bottomsecondelanim {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 1s ease 0.6s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.leftelanim {
	transform: translate(-120%, 0px);
	opacity: 0;
	transition: all 1s ease 0s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.mainblock__button.leftelanim {
	transform: translate(-120%, 0px);
	opacity: 0;
	transition: all 1s ease 0.4s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.rightelanim {
	transform: translate(120%, 0px);
	opacity: 0;
	transition: all 1s ease 0s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.mainblock__button.rightelanim {
	transform: translate(120%, 0px);
	opacity: 0;
	transition: all 1s ease 0.4s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.column-boostedrev__title.rightelanim {
	transform: translate(120%, 0px);
	opacity: 0;
	transition: all 1s ease 0s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.column-boostedrev__text.rightelanim {
	transform: translate(120%, 0px);
	opacity: 0;
	transition: all 1s ease 0.3s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.column-boostedrev__button.rightelanim {
	transform: translate(120%, 0px);
	opacity: 0;
	transition: all 1s ease 0.6s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.column-about__link1 {
	transition: all 1s ease 0.1s;
}

.column-about__link2 {
	transition: all 1s ease 0.2s;
}

.column-about__link3 {
	transition: all 1s ease 0.3s;
}

.column-about__link4 {
	transition: all 1s ease 0.4s;
}

.column-about__link5 {
	transition: all 1s ease 0.5s;
}

.column-about__link6 {
	transition: all 1s ease 0.6s;
}

.column-about__link7 {
	transition: all 1s ease 0.7s;
}

.column-about__link8 {
	transition: all 1s ease 0.8s;
}

.scaleanim {
	transform: scale(0);
	opacity: 0;
	transition: all 1s ease 0s;

	&.active {
		transform: scale(1);
		opacity: 1;
	}
}

.content-othershop.scaleanim {
	transform: scale(0);
	opacity: 0;
	transition: all 1s ease 0.4s;

	&.active {
		transform: scale(1);
		opacity: 1;
	}
}

.column-shop__content.scaleanim {
	transform: scale(0);
	opacity: 0;
	transition: all 1s ease 0.4s;

	&.active {
		transform: scale(1);
		opacity: 1;
	}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================
//====================================================================================================
.ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

body.ie {
	.ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

//====================================================================================================
.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;

	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.videobg {

	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}

//====================================================================================================